<h2>list of pets</h2>
<ul>
    <% @pets.each do |pet| %>
      <% if pet.owner_id == current_user.id %>
        <u><strong><a href="/pets/<%= pet.id %>"><%= pet.name %></a></strong></u><br>
      <% else %>
        <l1><%= pet.name %></l1><br>
      <% end %>
    <% end %>
</<ul>
