<h2>Please register your pet's information:</h2>

<form action="/pets" method="post">
  <label for="name">Name:</label><br>
    <input type="text" name="name" placeholder="Name"><br>
  <label for="species">Species: </label><br>
    <input type="text" name="species" placeholder="Cat/Dog/Fish/etc."><br>
  <label for="breed">Breed: </label><br>
    <input type="text" name="breed" placeholder="Ragdoll/Husky/Goldfish/etc."><br>
  <label for="age">Age:</label><br>
    <input type="integer" name="age" placeholder="age">
  <input type="submit" value="Register">
</form>
