<h1>Create your user account</h1>

<form method='POST' action='/signup'>
<label>Name:</label><br>
<input type="text" name="name" placeholder="Name"><br>
<label>Email address:</label><br>
<input type="text" name="email" placeholder="Email Address"><br>
<label>Username:</label><br>
<input type="text" name="username" placeholder="Username"><br>
<label>Password:</label><br>
<input type="password" name="password" placeholder="Password"><br><br>
<input type="submit" value="Submit">
</form>
