<img src="images/logo-vet.png" alt="VetCentral_Logo" class="center">
<div class="container">

  <div class="col-md-8 col-md-offset-2">

    <h2>VetCentral</h2>


    <div class="content">
      <p>VetCentral: You friendly neighborhood vet's office :) <br><br>
         Returning users can sign right in.<br><br>
         Please register an account if you're new.</p>
    </div>

  </div>
</div>
